#root {
  background-color: #c5c5c5;
  height: 100%;
  width: 100%;
}

#title {
  color: #cecece;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-element {
  /* padding: 18px; */
  text-align: left;
}

.App-dashboard .ant-input {
  width: 100;
  /* margin: 0 8px 8px 0; */
}

.layout {
  min-height: 100vh;
}

.content {
  padding: 0px 50px;
  margin-bottom: fill;
}

.divider-label {
  color: #ababab;
  font-size: 10pt;
  font-weight: lighter;
}

.operador-head {
  margin: 1.3em 0px;
  color: #001529;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

.user-photo {
  margin: 5px;
  border: 0;
  border-radius: 3px;
  width: 140px;
  height: 160px;
}

.table-info {
  font-size: 11pt;
  margin: 0px;
}

.table-label {
  font-size: 9pt;
  color: #cecece;
  margin-top: -6px;
  margin-bottom: 4px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.soft {
  color: #cecece;
  font-weight: lighter;
  font-size: 10pt;
}

.scrollable .ant-card-body {
  padding: 10px 15px;
  max-height: 42vh;
  overflow-y: auto;
}

.spin-box {
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.center-card {
  width: 380px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
